{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pokemons list</h1>

    <div class="container">
        <div class="row">
            {% for pokemon in pokemons %}
                <div class="list_pokemon-box col-md-4">
                    <div class="list_pokemon-box-content">
                        <img src="{{ asset('img/pokebip/'~pokemon.imgMoyenne) }}" alt="{{ pokemon.nom }}" class="list_pokemon-box-img img-responsive" />
                    </div>
                    <div class="list_pokemon-box-text">
                        <div class="list_pokemon-box-title">
                            <a href="{{ path('pokemon_show', { 'id': pokemon.id }) }}">
                                #{{ pokemon.id }} - {{ pokemon.nom }}
                            </a>
                        </div>
                        <span class="type type_1">Plante</span>
                        <span class="type type_2">Poison</span>
                        <div class="list_pokemon-box-description">
                            <ul>
                                <li>PV : {{ pokemon.pointDeVie }}</li>
                                <li>Attaque : {{ pokemon.attaque }}</li>
                                <li>Defence : {{ pokemon.defense }}</li>
                                <li>Attaque Spéciale : {{ pokemon.attaqueSpe }}</li>
                                <li>Defence Spéciale : {{ pokemon.defenseSpe }}</li>
                                <li>Vitesse : {{ pokemon.vitesse }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

<a href="{{ path('pokemon_new') }}">Create a new pokemon</a>

{% endblock %}
