{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pokemon</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pokemon.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ pokemon.numero }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pokemon.nom }}</td>
            </tr>
            <tr>
                <th>Nomen</th>
                <td>{{ pokemon.nomEn }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ pokemon.poids }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ pokemon.taille }}</td>
            </tr>
            <tr>
                <th>Attaque</th>
                <td>{{ pokemon.attaque }}</td>
            </tr>
            <tr>
                <th>Defense</th>
                <td>{{ pokemon.defense }}</td>
            </tr>
            <tr>
                <th>Attaquespe</th>
                <td>{{ pokemon.attaqueSpe }}</td>
            </tr>
            <tr>
                <th>Defensespe</th>
                <td>{{ pokemon.defenseSpe }}</td>
            </tr>
            <tr>
                <th>Vitesse</th>
                <td>{{ pokemon.vitesse }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pokemon.description }}</td>
            </tr>
            <tr>
                <th>Nbpaseclosion</th>
                <td>{{ pokemon.nbPasEclosion }}</td>
            </tr>
            <tr>
                <th>Imggenerale</th>
                <td>{{ pokemon.imgGenerale }}</td>
            </tr>
            <tr>
                <th>Imgminiature</th>
                <td>{{ pokemon.imgMiniature }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pokemon_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pokemon_edit', { 'id': pokemon.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
